# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Hardhat / Solidity
artifacts/
cache/
build/

# Coverage
coverage/

# Environment
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/

# Dist
dist/

# Logs
*.log
